.slick-slider .slick-prev {
  left: 2px !important;
  z-index: 2;
}
.slick-slider .slick-next {
  right: 12px !important;
  z-index: 2;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  color: #000000; /* change to #fff if you have a dark background */
  font-size: 30px;
  opacity: 0.5;
}

.slick-dots li button:before {
  font-size: 12px; /* default is 6px */
  color: #999; /* inactive color */
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #000; /* active dot color */
  font-size: 12px; /* make active dot slightly bigger */
}
